<div class="container" style="padding: 50px">
  <h3>
    Tabla N° 1
  </h3>
  <button (click)="ordenar()" class="btn-success">
    Ordenar elementos
  </button>
  <div class="alert alert-danger" role="alert" *ngIf="error">
      No existe conexión con el servicio!!! Intente nuevamente por favor.
  </div>
  <div class="loading" *ngIf="loading">Loading&#8230;</div>

  <input type="text" class="form-control" [value]="valor">
  <table class="table">
    <thead>
      <tr>
        <th>N°</th>
        <th>Número</th>
        <th>Cantidad</th>
        <th>Primera Posición</th>
        <th>Última Posición</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let numero of numeros; let i= index" [ngClass]="numero >= 2 ? 'bg-success' : numero == 1 ? 'bg-warning' : numero <= 0 ? 'bg-secondary' : ''">
        <td>{{ i+1 }}</td>
        <td>{{ numero }}</td>
        <td>{{ cantidad[numero] }}</td>
        <td>{{ primer[numero] }}</td>
        <td>{{ ultimo[numero] }}</td>
      </tr>
    </tbody>
  </table>
</div>
