<div class="text-center" style="margin-top: 100px">
  <h1>Prueba MiniTag</h1>
</div>
<hr>
<div class="row">
  <div class="offset-2 col-md-2">

    <a [routerLink]="['/tabla1']" class="btn btn-success btn-block">
      Tabla 1
    </a>
  </div>
  <div class="offset-4 col-md-2">
    <a [routerLink]="['/tabla2']" class="btn btn-success btn-block">
      Tabla 2
    </a>

  </div>
</div>
<router-outlet></router-outlet>
